
.head{
    color: rgb(255, 0, 0);
    text-align: center;
}
.card{
    box-shadow: 0px 0px 5px ;
    border-radius: 5px;
    background:rgb(215, 215, 187);
    width: 50%;
    text-align: center;
    padding: 1%;
    margin: 10px auto;
}
.cardHead{
    color: rgb(0, 0, 0);
}
.body{
    color: rgb(0, 0, 0);
}

.button{
    background-color: rgb(47, 50, 42);
    color: rgb(255, 255, 255);
    margin: 0px 50%;
    width: 10%;
    height: auto;
    text-align: center;

}

.style{
    height: auto;
    width: 400px;
    text-align: center;
    background-color: #8e8484;
    margin: 1rem;
}
/* 
.nav-bar{
    color: rgb(0, 0, 0);
    margin: 2rem;
} */